:root {
    --plus-font: "Plus Jakarta Sans", sans-serif;
}

.pagebanner-text h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 65px;
    text-align: center;
    color: #000418;
}

.pagebanner-text h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 65px;
    text-align: center;
    color: #000418;
}

.pagebanner-text p {
    color: #415D65;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: center;
    margin: 0 auto;
    width: 65%;
}


.about-mission-box img {
    border-radius: 20px;
    max-height: 384px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 24px;
}

.about-mission-box .text-box h6 {
    color: #000418;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 10px;
}

.about-mission-box .text-box p {
    color: #415D65;
    font-family: var(--plus-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
}

.cmn-heading.text-center .top-name {
    justify-content: center;
}

.values-box {
    box-shadow: 0px 13px 20px 0px #0000000D;
    padding: 40px;
    border-radius: 25px;
    text-align: center;
    background-color: #fff;
    transition: all 0.5s;
}

.values-box img {
    margin: 0 auto;
}

.values-box h5 {
    color: #404040;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    margin-bottom: 0;
    margin-top: 40px;
}

.values-box:hover {
    background-color: #E2403C;
}

.values-box:hover h5 {
    color: #fff;
}

.contact-info {
    padding-bottom: 100px;
}

.contact-info .form-row {
    background-color: #E2403C0D;
    padding: 10px;
    margin: 0;
    min-height: 250px;
    border-radius: 10px;
}

.contact-details {
    background-color: #E2403C;
    border-radius: 10px;
    padding: 40px;
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-details .info-details h2 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 34.13px;
    margin-bottom: 14px;
}

.contact-details .info-details p {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    margin-bottom: 0;
}

.contact-details .info-details ul {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.contact-details .info-details ul li {
    display: flex;
    align-items: start;
    gap: 18px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.contact-details .bottom-socials ul {
    display: flex;
    align-items: center;
    gap: 12px;
}

.contact-details .bottom-socials ul li a {
    width: 45px;
    min-width: 45px;
    height: 45px;
    max-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ECEFF3;
    border-radius: 50%;
}

.contact-details .circle-mini {
    background-color: #FFF9F921;
    width: 138px;
    height: 138px;
    position: absolute;
    right: 70px;
    bottom: 24px;
    border-radius: 50%;
}

.contact-details .circle-big {
    background-color: #FFF9F921;
    width: 270px;
    height: 270px;
    position: absolute;
    right: -100px;
    bottom: -150px;
    border-radius: 50%;
}

.contact-form {
    padding: 30px 25px 30px 16px;
}

.contact-form form .row {
    row-gap: 24px;
}

.contact-form .form-group label {
    color: #000418;
    font-family: var(--plus-font);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    display: inline-block;
    margin-bottom: 12px;
}

.contact-form .form-group .form-control,
.contact-form .form-group .form-select {
    background-color: #FFFFFF;
    color: #666666;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16.8px;
    padding: 14px 20px;
    box-shadow: none !important;
    border-color: #fff;
    border-radius: 10px;
    min-height: 50px;
    height: 50px;
}

.contact-form .form-group .form-control:focus,
.contact-form .form-group .form-select:focus,
#phone:focus {
    border-color: #E2403C;
}

.contact-form .form-group .form-control::placeholder,
.contact-form .form-group .form-select::placeholder {
    color: #666666;
}

.contact-form .form-action {
    display: flex;
    justify-content: end;
    margin-top: 16px;
}

.form-action .color-btn {
    font-weight: 600;
}

.form-action .color-btn:hover img {
    filter: brightness(0) saturate(100%) invert(35%) sepia(46%) saturate(5101%) hue-rotate(342deg) brightness(95%) contrast(87%);
}


.terms-content {
    padding-bottom: 70px;
}

.terms-content .inner-content h2 {
    color: #000418;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 34.13px;
    margin-bottom: 24px;
}

.terms-content .inner-content h3 {
    color: #000418;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    margin-bottom: 24px;
}

.terms-content .inner-content p {
    color: #415D65;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
    margin-bottom: 24px;
}

.terms-content .inner-content p strong {
    color: #000418;
    font-weight: 700;
}

.terms-content .inner-content ul {
    padding-left: 12px;
    margin-bottom: 24px;
}

.terms-content .inner-content li {
    color: #415D65;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    padding-left: 16px;
}

.terms-content .inner-content li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000418;
}

.terms-content .inner-content li strong {
    color: #000418;
    font-weight: 700;
}


.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-bottom: solid 4px #E2403C !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    color: #E2403C !important;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link {
    border: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: #415D65;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    border-bottom: solid 4px transparent;
    margin-bottom: -2px;
    padding-bottom: 18px;
}

.nav-tabs {
    gap: 40px;
    border-color: #EDEFF1;
    border-width: 2px;
}

.login-section-imgs .left-two {
    flex-direction: column;
    display: flex;
    row-gap: 60px;
}

.login-section-imgs .left-two img {
    width: 100%;
    height: 310px;
}

.login-form .form-headings h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
}

.login-form .form-headings p {
    color: #BDBDBD;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    text-align: center;
}

.login-form form {
    max-width: 90%;
    margin: 0 auto;
}

.login-form form .row .form-group {
    margin-top: 32px;
}

.login-form form .row .forgot-password {
    margin-top: 16px;
    text-align: end;
}

.login-form form .row .forgot-password a {
    color: #E2403C;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    text-align: right;
    text-decoration-line: underline;
}

.login-form form .row .form-action {
    margin-top: 40px;
}

.login-form form .row .or-option {
    position: relative;
    max-width: 150px;
    margin: 24px auto;
    text-align: center;
}

.login-form form .row .or-option::before {
    content: "";
    height: 1px;
    background-color: #BDBDBD;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

.login-form form .row .or-option span {
    color: #BDBDBD;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 0 20px;
}

.login-form form .row .other-logins {
    display: flex;
    align-items: center;
    gap: 16px;
}

.login-form form .row .other-logins a {
    font-family: "Montserrat", sans-serif;
    color: #1D1C2B;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    border: 1px solid #E0E0E9;
    box-shadow: 0px 18px 30px 0px #8377C61C;
    padding: 10px 14px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    width: 50%;
}

.signup-link span {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    color: #9E9E9E;
}

.signup-link a {
    color: #E2403C;
    font-weight: 600;
}

.login-form form .row .signup-link {
    margin-top: 24px;
    text-align: center;
}


.study-page-right-data fieldset {
    background-color: transparent !important;
}

.data-table thead tr th {
    background-color: #000418;
    color: #ffffff;
    padding: 24px 20px;
}

.data-table tbody tr td {
    padding: 24px 20px;
    color: #000418;
}

.data-table tbody tr td:first-child {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    padding: 24px 20px;
    color: #000418;
    border-radius: 10px 10px 10px 10px;
}

.data-table .table {
    margin-bottom: 0;
}


.mba-left-inner img {
    min-width: 120px;
    min-height: 120px;
    max-width: 120px;
    max-height: 120px;
    object-fit: contain;
    padding: 5px 5px;
}
.cmn-heading.mb-60 {
    margin-bottom: 60px;
}


@media (max-width: 991px) {
    .header-btn-main a {
    font-size: 20px;
}
    .header-btn-main {
        flex-direction: column;
        gap: 20px;
        align-items: start;
    }
    .banner-left h1 {
        font-family: Montserrat;
        font-size: 35px;
        font-weight: 800;
        line-height: initial;
    }
    .shape-five {
        position: absolute;
        right: 0px;
        bottom: 20%;
    }
    .shape-two {
        position: absolute;
        right: 0px;
        top: 7%;
    }
    .about-exp {
        top: -75px;
        left: 0;
    }
    .about-shape-one {
        position: relative;
        top: -17px;
        right: 0;
    }
    .cmn-heading h2, .cmn-heading h1 {
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        line-height: initial;
        margin-bottom: 23px;
    }
    .home-study-inner {
        padding: 30px 15px;
    }
    .home-study-inner .row {
        gap: 30px;
    }
    .col-testi-slider {
        margin-top: 15px;
    }
    .slider-main {
        background-color: #E2403C;
        border-radius: 20px;
        padding: 30px 15px;
        height: 100%;
        min-height: 800px;
        margin-bottom: 0;
    }
    .testimonial-inner .progress {
        position: absolute;
        z-index: 1111111;
        bottom: 62px;
        width: 44%;
        left: 14px;
    }
   .journy-inner .header-btn-main {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .our-inner-links.resource {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    footer.footer-section .row {
        gap: 30px;
    }
    .study-page-inner {
        padding: 30px 15px;
    }
    .study-page-inner .row {
        gap: 30px;
    }
    .search-form-data .form-group {
        flex-wrap: wrap;
    }
    .search-form-data .search-img {
        position: absolute;
        left: 20px;
        top: 20px;
        width: 18px;
    }
    .search-form-data .submit.action-button.color-btn.btn {
        min-width: 100%;
        width: 100%;
    }
    .search-form-data .submit.action-button.color-btn.btn {
        padding: 4px 48px;
        width: 100%;
        text-align: center;
        margin: auto;
        justify-content: center;
    }
    .work-process-section .work-process-inner {
        display: flex;
        flex-wrap: wrap;
    }
    .work-process-section .work-steps {
        width: 100%;
    }
    .connect-img-data {
        display: none;
    }
    .work-process-section .work-steps.work-step2, .work-steps.work-step6 {
        top: 0;
        position: relative;
    }
    .work-process-section .work-steps:not(:first-child) {
        margin-left: 0;
    }
    .work-steps.work-step2 {
        flex-direction: column-reverse;
    }
    .work-steps.work-step4 {
        flex-direction: column-reverse;
    }
    .work-process-section .work-steps.work-step4 {
        top: 0;
        position: relative;
    }
    .work-process-section .connect-img-data {
        position: relative;
        top: 0;
        left: 0;
    }
    .work-steps.work-step6 {
        flex-direction: column-reverse;
    }
    .pagebanner-text h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 30px;
    }

    .info-details {
        margin-bottom: 30px;
    }
    .login-section-imgs .left-two img {
        width: 100%;
        height: 170px;
    }
    section.login-section .row {
        gap: 30px;
    }
    .login-form form .row .form-action {
        margin-top: 0;
    }
    .other-logins {
        flex-wrap: wrap;
    }
    .login-form form .row .other-logins a {
        width: 100%;
        text-align: left;
        align-items: center;
        justify-content: flex-start;
    }
    .about-left-top .aboutus-left-img:nth-child(1) img {
        width: 315px;
        height: 270px;
    }
    li.study-innner-point {
        width: 100% !important;
    }
    li.study-innner-point {
        width: 100%;
    }
    .study-inner-mid {
        max-width: 100%;
    }
    .study-new-section .study-innner-point button{
        width: 100%;
    }
    .study-inner-mid .study-innner-point button span{
        text-align: left;
    }
    .left-side-divider {
        padding: 30px 30px;
        width: 100% !important;
    }
    main.wizard-layout {
        display: flex;
        flex-wrap: wrap;
        max-height: 100%;
    }
    .study-inner-mid.contry-inner-bottom {
        grid-template-columns: repeat(1, 1fr);
    }
    .bottom-btn.bottom-privious {
        flex-wrap: wrap;
    }
 .study-hub-data-main {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 23px;
    flex-direction: column;
    text-align: center;
}
}


@media screen and (min-width: 480px) and (max-width: 700px) {}
